.aboutus_container {
  //margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4b2b1a;
  flex-wrap: wrap;
  height: 100vh;
  .content_container_div {
    display: flex;
    padding: 5rem;
    flex-direction: column;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
      color: white;
      font-size: 6rem;
      font-weight: 900;
    }
    p {
      font-size: 2rem;
      margin-top: 1rem;
      max-width: 70rem;
      color: white;
      line-height: 1.2;
    }
  }
  .contact_us_div {
    img {
      border-radius: 1rem;
      width: 60rem;
    }
  }
}
